body {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: center center; /* Centrer l'image horizontalement et verticalement */
  background-size: cover; /* Ajuster la taille de l'image pour remplir complètement le conteneur */
}

h1 {
  text-align: center;
}

ul {
  display: inline-block;

  position: relative;
  left: 350px;
  top: 350px;

  margin: 0 auto;
  padding: 0;

  list-style: none;
  backdrop-filter: blur(5px);
  background: linear-gradient(
    to bottom,
    rgba(141, 9, 9, 0.5),
    rgba(119, 74, 42, 0.5)
  );
}

a {
  text-decoration: none;
  color: rgb(78, 133, 30);
}
